{% extends 'base.html.twig' %}

{% block title %}Feetō
{% endblock %}

{% block body %}
	<form method="post" class="px-container form-light mb-60 flex flex-col items-center">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				{{ 'You are logged in as'|trans }}
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
			</div>
		{% endif %}

		<h1 class="w-full mb-60">{{ 'Please sign in'|trans }}</h1>
		<div class="flex gap-x-[20px] mb-60 w-full">
			<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="w-6/12" placeholder="{{ 'Username'|trans }}" autocomplete="username" required autofocus>
			<input type="password" name="password" id="inputPassword" class="w-6/12" placeholder="{{ 'Password'|trans }}" autocomplete="current-password" required>
		</div>
		<input
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		{#
		        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
		        See https://symfony.com/doc/current/security/remember_me.html
		
		        <div class="checkbox mb-3">
		            <label>
		                <input type="checkbox" name="_remember_me"> Remember me
		            </label>
		        </div>
		    #}

		<div class="flex gap-x-[20px] items-center">
			<button class="button-dark-outlined" type="submit">
				{{ 'Sign in'|trans }}
			</button>
			<a href="{{ path('app_register') }}" class="font-serif text-green text-30 underline">Register</a>
		</div>
	</form>
{% endblock %}
