{% extends 'base.html.twig' %}

{% block title %}Feetō{% endblock %}

{% block body %}
    <div class="px-container mb-[60px]">
        <div class="mb-[60px]">
            <h1>{{ 'Register'|trans }}</h1>
            <span class="block font-serif text-dark-green pl-[220px]">{{ 'Join a community of plant fanatics.'|trans }}</span>
        </div>
        {{ form_start(registrationForm, {'attr': {'class': 'flex flex-col items-center w-full form-dark'}}) }}
            <div class="flex flex-col w-full">
                <div class="flex gap-x-[20px]">
                    <div class="flex flex-col w-6/12">
                        <div class="w-full">{{ form_widget(registrationForm.username) }}</div>
                        <div class="text-[16px] font-serif inline-block text-green">{{ form_errors(registrationForm.username) }}</div>
                    </div>
                    <div class="flex flex-col w-6/12">
                        <div class="w-full">{{ form_widget(registrationForm.email) }}</div>
                        <div class="text-[16px] font-serif inline-block text-green">{{ form_errors(registrationForm.email) }}</div>
                    </div>
                </div>
                <div class="flex gap-x-[20px]">
                    <div class="flex flex-col w-4/12">
                        <div class="w-full">{{ form_widget(registrationForm.first_name) }}</div>
                        <div class="text-[16px] font-serif inline-block text-green">{{ form_errors(registrationForm.first_name) }}</div>
                    </div>
                    <div class="flex flex-col w-4/12">
                        <div class="w-full">{{ form_widget(registrationForm.last_name) }}</div>
                        <div class="text-[16px] font-serif inline-block text-green">{{ form_errors(registrationForm.last_name) }}</div>
                    </div>
                    <div class="flex flex-col w-4/12">
                        <div class="w-full">{{ form_widget(registrationForm.plainPassword) }}</div>
                        <div class="text-[16px] font-serif inline-block text-green">{{ form_errors(registrationForm.plainPassword) }}</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="button-dark-outlined mt-[60px]">{{ 'Register'|trans }}</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
