
{% if isSmall is not defined %} 
    {% set isSmall = true %}
{% endif %}

{% if isReviews is  not defined %}
    {% set isReviews = false %}
{% endif %}
<div class="{{ isSmall ? 'w-8/12' : 'w-full'}} bg-white border-[1px] border-green py-60 px-[120px] flex flex-col items-center mb-170">
    <h2 class="mb-50">{{ ctaTitle }}</h2>

    {% if isReviews %}
        
    {% else %}
        <p class="mb-50">{{ 'Share information on your favorite plants with feetō users. You can post advices on existing plants too ! Featuring everyone else, create the most complete herbarium in the world !'|trans }}</p>
    {% endif %}
    
    <a href="{{ path(ctaRedirection) }}" class="cta-button">{{ ctaRedirectionLabel }}</a>
</div>