
{% if isSmall is not defined %} 
    {% set isSmall = true %}
{% endif %}

{% if isReviews is  not defined %}
    {% set isReviews = false %}
{% endif %}
<div class="{{ isSmall ? 'w-8/12' : 'w-full'}} bg-white border-[1px] border-green py-60 px-[120px] flex flex-col items-center mb-170">
    <h2 class="mb-50">{{ ctaTitle }}</h2>

    {% if isReviews %}
        {% for review in reviews %}
            <div class="w-full mb-50">
                <div class="flex w-full justify-between items-center">
                    <p class="text-gray font-serif mb-[10px]">@{{ review.user }}</p>
                    <span class="border-[1px] border-gray px-2 py-2 text-gray rounded-full">{{ review.createdAt|date('d.m.Y') }}</span>
                </div>
                <p>{{ review.content }}</p>
            </div>
        {% else %}
            <p class="mb-50">{{ 'NoReviews'|trans }}</p>
        {% endfor %}
        <a href="{{ path(ctaRedirection, {'plantId': plant.id}) }}" class="cta-button">{{ ctaRedirectionLabel }}</a>
    {% else %}
        <p class="mb-50">{{ 'Share information on your favorite plants with feetō users. You can post advices on existing plants too ! Featuring everyone else, create the most complete herbarium in the world !'|trans }}</p>
        <a href="{{ path(ctaRedirection) }}" class="cta-button">{{ ctaRedirectionLabel }}</a>
    {% endif %}
</div>