{% set is_small = true %}

<div class="{{ is_small ? 'w-8/12' : 'w-full'}} bg-white border-[1px] border-green py-60 px-[120px] flex flex-col items-center mb-170">
    <h2 class="mb-50">{{ 'Plant_add'|trans }}</h2>
    <p class="mb-50">{{ 'Share'|trans }}</p>
    <a href="{{ path(ctaRedirection) }}" class="cta-button">{{ ctaRedirectionLabel }}</a>
</div>