{% extends 'base.html.twig' %}

{% block title %}Feetō{% endblock %}

{% block body %}
    <h1>{{'Cat_index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">{{ 'Show'|trans }}</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">{{ 'Edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'Not_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">{{ 'Create'|trans }}</a>
{% endblock %}
