{% extends 'base.html.twig' %}

{% block title %}Feetō
{% endblock %}

{% block body %}
	<h1 class="px-container mb-60">{{ 'My_reviews'|trans }}</h1>


	<div class="px-container mb-60 grid grid-cols-2 gap-[20px]">
        {% for review in reviews %}
            <div class="p-[20px] border-[1px] border-green rounded-lg">
                <div class="font-serif text-gray">{{ review.createdAt|date('d.m.Y') }}</div>
                <div class="font-serif text-green text-30">{{ review.title }}</div>
                <div>{{ review.content }}</div>
            </div>
        {% else %}
            <div>{{ 'NoReviews'|trans }}</div>
        {% endfor %}
    </div>
{% endblock %}
