{% extends 'base.html.twig' %}

{% block title %}Feetō
{% endblock %}

{% block body %}
	<h1>{{ 'My_reviews'|trans }}</h1>


	{% for review in reviews %}
		<div>{{ review.title }}</div>
		<div>{{ review.content }}</div>
		<div>
			<a href="{{ path('app_review_show', {'id': review.id}) }}">show</a>
			<a href="{{ path('app_review_edit', {'id': review.id}) }}">edit</a>
		</div>
	{% else %}
		<div colspan="4">no records found</div>
	{% endfor %}
{% endblock %}
