{{ form_start(form, {'attr': {'class': 'w-full px-container form-light'}}) }}
<div class="flex flex-col w-full gap-y-[20px] items-center">
	<div class="flex gap-x-[20px] w-full">
        <div class="w-6/12">{{ form_widget(form.name) }}</div>
        <div class="w-6/12">{{ form_widget(form.size) }}</div>
    </div>
	<div class="flex gap-x-[20px] w-full">
        <div class="w-6/12">{{ form_widget(form.price) }}</div>
        <div class="w-6/12">{{ form_widget(form.origin) }}</div>
    </div>
	{{ form_widget(form.description) }}
	<div class="flex gap-x-[20px] w-full">
        <div class="w-6/12">{{ form_widget(form.complexity) }}</div>
        <div class="w-6/12 input-file-container">
            <label for="plant_image_url">{{ 'Add an image'|trans }}</label>
            <div class="text-[16px] inline-block text-dark-green text-right">{{ form_errors(form.image_url) }}</div>
            <div class="hidden">{{ form_widget(form.image_url) }}</div>
        </div>
    </div>
    <div class="w-full">
        {{ form_label(form.categories) }}
        {{ form_widget(form.categories) }}
    </div>
    <button class="button-light ">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}

<script>
    const input = document.querySelector('#plant_image_url');
    const label = document.querySelector('.input-file-container label');
    const defaultLabelText = 'Add an image';

    input.addEventListener('change', updateLabel);

    function updateLabel(e) {
        const fileName = e.target.value.split('\\').pop();
        if (fileName) {
            label.textContent = fileName;
        } else {
            label.textContent = defaultLabelText;
        }
    }
</script>
