{% extends 'base.html.twig' %}

{% block title %}Feetō{% endblock %}

{% block body %}
{# {% if is_granted('ROLE_USER') %}
    <h2>USER</h2>
{% else %}
    <h2>NOT CONNECTED</h2>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
    <h2>ADMIN</h2>
{% else %}
    <h2>NOT ADMIN</h2>
{% endif %} #}

    <div class="px-container relative">
        <h1 class="w-5/12">{{ plant.name }}</h1>
        <div class="mt-25">
            {% for categorie in plant.categories %}
                <p class="subtitle">{{ categorie.name }}</p>
            {% endfor %}
        </div>
        <p class="w-6/12 mt-50">{{ plant.description }}</p>
        <div class="mt-130 mb-130">
            <p class="tag">{{ plant.size }} cm</p>
            <p class="tag">{{ plant.origin }}</p>
            <p class="tag">{{ 'Level'|trans }} {{ plant.complexity }}</p>
        </div>
        <div class="absolute -right-[18vw] -top-[10vh] -z-[1] w-[70vw]">
            <img class="w-full object-cover" src="{{ asset('/images/' ~ plant.imageUrl) }}" alt="{{ 'Plant\'s img'|trans }}" />
        </div>
    </div>
    <div>
        {% include "partials/cta.html.twig" %}
    </div>

    {# <a href="{{ path('app_plant_index') }}">back to list</a>

    <a href="{{ path('app_plant_edit', {'id': plant.id}) }}">edit</a>

    {{ include('plant/_delete_form.html.twig') }} #}
{% endblock %}
