{{ form_start(form, {'attr': {'class': 'w-full px-container form-light'}}) }}
<div class="flex flex-col w-full gap-y-[20px] items-center">
	<div class="flex gap-x-[20px] w-full">
		<div class="w-6/12">{{ form_widget(form.email) }}</div>
		<div class="w-6/12">{{ form_widget(form.password) }}</div>
	</div>
	<div class="flex gap-x-[20px] w-full">
		<div class="w-6/12">{{ form_widget(form.first_name) }}</div>
		<div class="w-6/12">{{ form_widget(form.last_name) }}</div>
	</div>
	<div class="flex gap-x-[20px] w-full">
		<div class="w-6/12">{{ form_widget(form.username) }}</div>
		<div class="w-6/12">{{ form_widget(form.title) }}</div>
	</div>
	<button class="button-dark-outlined mb-3">{{ button_label|default('Save') }}</button>
</div>

{{ form_end(form) }}
